<section>
    CARROSEL VAI AQUI
</section>

<h1>Categorias</h1>

<section class="category">
  <% if(categories != '') { %>
    <% categories.forEach(function(categories, index){ %>
    <a href="/categories">
      <div>
        <img src="/img/<%= categories.image %>" alt="<%= categories.name %>" loading="lazy">
      </div>
      <div><%= categories.name %></div>
    </a>
    <% }) %>
    <% } else { %>
        <p>No items found.</p>
<% } %>
</section>

<H1>Doces</H1>
<Section>
    <% if(candies != '') { %>
        <% candies.forEach(function(candy, index){ %>
        <a href="/#">
          <div>
            <img src="/img/<%= candy.image %>" alt="<%= candy.name %>" loading="lazy">
          </div>
          <div><%= candy.name %></div>
        </a>
        <% }) %>
        <% } else { %>
            <p>No items found.</p>
    <% } %>
</Section>
